---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Impressum – Timo Hausmann" ogUrl="/imprint">
    <main class="page row">
        <div class="row-inner">
            <div class="imprint richtext">
                <h1 class="caps caps-14">Impressum</h1>
                <p class="caps caps-12">Angaben gemäß § 5 TMG</p>
                <p class="address">
                    Timo Hausmann<br />
                    An der Tiefenriede 13<br />
                    30173 Hannover
                </p>
                <p>
                    <a href="tel:+491775574990">+49 (0)177 557 4990</a><br />
                    <a href="mailto:hello.timohausmann@gmail.com"
                        >hello.timohausmann@gmail.com</a
                    >
                </p>
                <p>USt-Nr.: DE401014678</p>
            </div>
        </div>
    </main>
</Layout>

<style>
    .imprint {
        padding: 2rem 0;
        text-align: center;
    }
    .imprint :global(p) {
        margin-left: auto;
        margin-right: auto;
    }
</style>
