---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Imprint">
    <section class="page row">
        <div class="row-inner">
            <div class="imprint-content">
                <h1>Imprint</h1>
                <div class="address">
                    <p>
                        Timo Hausmann<br />
                        An der Tiefenriede 13<br />
                        30173 Hannover
                    </p>
                </div>
            </div>
        </div>
    </section>
</Layout>

<style>
    .imprint-content {
        font-size: 20px;
        line-height: 1.6;
        font-style: italic;
        padding: 2rem 0;
    }

    h1 {
        margin-bottom: 2rem;
    }

    .address {
        margin-top: 1rem;
    }
</style>

