---
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="page">
        <Hero transition:name="hero" />
        <Projects />
    </div>
</Layout>
<style>
    .page {
        padding-top: 0;
        background: none;
    }
</style>