---

---

<button class={`button`}>
    <span class="label">Kontakt</span>
</button>

<style>
    .button {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        display: inline-flex;
        align-items: center;
        gap: 1rem;
        padding: 1.25rem 2rem;
        text-decoration: none;
        line-height: 1;
        color: var(--color-blue);
        opacity: 0;
        animation: buttonIn 1s 1s forwards;
        animation-timing-function: var(--ease-out-back);
        z-index: 100;
    }
    .button::after {
        content: "";
        position: absolute;
        inset: 0;
        background: var(--color-blue);
        border-radius: 10rem;
        z-index: -1;
        transition: all 0.2s ease;
        background: rgba(255, 255, 255, 0.95);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }
    .label {
        text-transform: none;
        font-weight: normal;
        font-size: inherit;
        letter-spacing: 0;
    }

    .button:hover::after {
        background: white;
        transform: scaleX(1.025) scaleY(1.1);
    }

    @keyframes buttonIn {
        0% {
            opacity: 0;
            transform: scale(0.66);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
</style>
