---
import {
    IconBrandGithub,
    IconBrandLinkedin,
    IconMail,
} from "@tabler/icons-react";
import ButtonLink from "./ButtonLink.astro";
---

<footer class="footer row">
    <div class="footer-wrap">
        <div class="footer-bar">
            <div class="footer-content">
                <div class="footer-links">
                    <a
                        class="footer-link linkedin"
                        href="https://linkedin.com/in/timohausmann"
                        target="_blank"
                    >
                        <IconBrandLinkedin />
                        LinkedIn
                    </a>
                    <div class="mail">
                        <ButtonLink
                            href="mailto:hello.timohausmann@gmail.com"
                            label="E-Mail schreiben"
                            blank
                        >
                            <IconMail
                                size={20}
                                stroke={1.5}
                                slot="iconBefore"
                            />
                        </ButtonLink>
                    </div>

                    <a
                        class="footer-link github"
                        href="https://github.com/timohausmann"
                        target="_blank"
                    >
                        <IconBrandGithub />
                        GitHub
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="secondary">
        <span class="caps caps-12">Built with Astro</span>
        <a class="imprint-link caps caps-12" href="/imprint">Impressum</a>
        <a class="imprint-link caps caps-12" href="/privacy">Datenschutz</a>
    </div>
</footer>

<style>
    .footer {
        background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0.11) 0%,
                rgba(0, 0, 0, 0.11) 100%
            ),
            linear-gradient(to bottom, #f9f9f9 0%, #f9f9f9 100%);
        position: relative;
    }

    .footer-wrap {
        display: flex;
        padding-bottom: 2rem;
        opacity: 0;
        animation: fadeInUp 0.6s ease forwards;
        animation-timeline: view();
        animation-range: entry;
    }

    .footer-bar {
        padding: 1rem 1.5rem;
        width: 100%;
        min-height: 3rem;
        margin: 0 auto;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        border-radius: 2rem;
        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.05);
        background: rgba(255, 255, 255, 0.95);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(25%);
            filter: blur(16px);
        }
        to {
            opacity: 1;
            transform: translateY(0%);
            filter: blur(0px);
        }
    }

    .secondary {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        width: 100%;
        padding-bottom: 2rem;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
    }

    .imprint-link {
        color: inherit;
    }

    .footer-content {
        width: 100%;
    }

    .footer-links {
        display: grid;
        gap: 1rem;
        grid-template-areas:
            "a a"
            "b c";
    }
    .mail {
        display: flex;
        justify-content: center;
        grid-area: a;
    }
    .linkedin {
        grid-area: b;
        justify-self: center;
    }
    .github {
        grid-area: c;
        justify-self: center;
    }

    .footer-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.65rem;
        font-size: 14px;
        padding: 0.75rem 1.5rem 0.75rem 1.25rem;
        transition: all 0.2s ease;
        color: var(--color-blue);
        border-radius: 9999px;
        text-decoration: none;
    }
    .footer-link:hover {
        color: var(--color-blue);
        background-color: var(--color-blue-5);
        letter-spacing: 0.025em;
    }

    .icon {
        width: 16px;
        height: 16px;
        color: black;
        margin-right: 0.5rem;
        vertical-align: middle;
    }

    @media (--sm) {
        .secondary {
            flex-direction: row;
            gap: 4rem;
        }
    }

    @media (--md) {
        .footer-bar {
            width: auto;
            padding: 0.75rem 3rem;
        }

        .footer-links {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            gap: 2rem;
        }
    }
    @media (--lg) {
        .footer-links {
            gap: 3rem;
        }
    }
</style>
