---
import {
    IconBrandGithub,
    IconBrandLinkedin,
    IconMail,
} from "@tabler/icons-react";
---

<footer class="footer row">
    <div class="footer-content">
        <div class="footer-bar">
            <div class="footer-links">
                <a
                    class="footer-link frost-bg"
                    href="https://linkedin.com/in/timohausmann"
                    target="_blank"
                >
                    <IconBrandLinkedin />
                    LinkedIn
                </a>
                <a
                    class="footer-link frost-bg"
                    href="https://github.com/timohausmann"
                    target="_blank"
                >
                    <IconBrandGithub />
                    GitHub
                </a>
                <a
                    class="footer-link frost-bg"
                    href="mailto:hello.timohausmann@gmail.com"
                    target="_blank"
                >
                    <IconMail />
                    E-Mail
                </a>
            </div>
        </div>
        <div class="secondary">
            <a class="imprint-link caps caps-12" href="/imprint">Impressum</a>
            <a class="imprint-link caps caps-12" href="/privacy">Datenschutz</a>
        </div>
    </div>
</footer>

<style>
    .footer {
        position: relative;
        padding-bottom: 3rem;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .footer-bar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .secondary {
        display: flex;
        gap: 2rem;
        justify-content: space-around;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
    }

    .imprint-link {
        color: inherit;
    }

    .footer-links {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .footer-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.65rem;
        font-size: 14px;
        transition: all 0.2s ease;
        color: var(--color-blue);
        text-decoration: none;
        padding: 0.75rem 1.5rem;
        border-radius: 9999px;
        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.05);
    }

    .footer-link:hover {
        color: var(--color-blue);
    }

    @media (--md) {
        .footer-content {
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }

        .secondary {
            justify-content: center;
        }

        .footer-links {
            flex-direction: row;
            gap: 1.5rem;
        }
    }
</style>
