---
import NavLink from "./NavLink.astro";
import FrostBar from "./FrostBar.astro";
import {
    IconBrandGithub,
    IconBrandLinkedin,
    IconMail,
} from "@tabler/icons-react";
import ButtonLink from "./ButtonLink.astro";
---

<footer class="footer row">
    <div class="footer-wrap">
        <FrostBar class="footer-frost-bar">
            <div class="footer-content">
                <div class="footer-links">
                    <a
                        class="footer-link"
                        href="mailto:hello.timohausmann@gmail.com"
                    >
                        <IconMail size={20} />
                        hello.timohausmann@gmail.com
                    </a>
                    <ButtonLink
                        href="mailto:hello.timohausmann@gmail.com"
                        label="Kontakt"
                        blank
                    >
                        <IconMail size={20} stroke={1.5} slot="iconBefore" />
                    </ButtonLink>

                    <a
                        class="footer-link"
                        href="https://linkedin.com/in/timohausmann"
                        target="_blank"
                    >
                        <IconBrandLinkedin />
                        LinkedIn
                    </a>

                    <a
                        class="footer-link"
                        href="https://github.com/timohausmann"
                        target="_blank"
                    >
                        <IconBrandGithub />
                        GitHub
                    </a>
                </div>
            </div>
        </FrostBar>
    </div>

    <div class="imprint">
        <a class="imprint-link caps caps-12" href="/imprint"> Impressum </a>
    </div>
</footer>

<style>
    .footer {
        background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0.11) 0%,
                rgba(0, 0, 0, 0.11) 100%
            ),
            linear-gradient(to bottom, #f9f9f9 0%, #f9f9f9 100%);
        position: relative;
    }

    .footer-wrap {
        display: flex;
        padding-top: 4rem;
        padding-bottom: 2rem;
        opacity: 0;
        animation: fadeInUp 0.6s ease forwards;
        animation-timeline: view();
        animation-range: entry;
    }

    .footer-frost-bar {
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(25%);
            filter: blur(16px);
        }
        to {
            opacity: 1;
            transform: translateY(0%);
            filter: blur(0px);
        }
    }

    .imprint {
        width: 100%;
        padding-bottom: 2rem;
        text-align: center;
    }

    .imprint-link {
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
    }

    .footer-content {
        width: 100%;
    }

    .footer-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        gap: 2rem;
    }

    .footer-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.65rem;
        font-size: 14px;
        padding: 0.75rem 1.5rem;
        transition: all 0.2s ease;
        color: var(--color-blue);
        border-radius: 9999px;
        text-decoration: none;
    }
    .footer-link:hover {
        color: var(--color-blue);
        background-color: var(--color-blue-5);
        letter-spacing: 0.025em;
    }

    .icon {
        width: 16px;
        height: 16px;
        color: black;
        margin-right: 0.5rem;
        vertical-align: middle;
    }

    @media (max-width: 768px) {
        .footer-links {
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
        }
    }
</style>
