---
interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={["frost-bg", "frost-bar", "row-inner", className]}>
    <slot />
</div>

<style>
    .frost-bar {
        width: auto;
        min-height: 3rem;
        margin: 0 auto;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding: 0.75rem 3rem;
        border-radius: 10rem;
        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.05);
    }
</style>

