---
import { IconMoodSmile, IconFlame, IconMessage } from "@tabler/icons-react";
import NavItem from "./NavItem.astro";
---

<header class="header row">
    <div class="inner row-inner">
        <hgroup class="logo">
            <h1>Timo Hausmann</h1>
            <span class="divider">//</span>
            <h2>Creative Coding</h2>
        </hgroup>
        <nav>
            <ul class="nav-list">
                <li>
                    <NavItem href="#about" text="Über mich">
                        <IconMoodSmile />
                    </NavItem>
                </li>
                <li>
                    <NavItem href="#showcase" text="Referenzen">
                        <IconFlame />
                    </NavItem>
                </li>
                <li>
                    <NavItem href="#contact" text="Kontakt">
                        <IconMessage />
                    </NavItem>
                </li>
            </ul>
        </nav>
    </div>
</header>

<style>
    .header {
        position: absolute;
        top: 2rem;
        left: 0;
    }
    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background: white;
        border-radius: 0.75rem;
        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.025);
    }
    .logo {
        display: flex;
        align-items: baseline;
        gap: 1rem;
    }
    h1,
    h2,
    .divider {
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.075em;
        text-transform: uppercase;
        color: var(--color-purple);
        line-height: 1;
    }
    .divider {
        letter-spacing: 0;
    }

    .nav-list {
        display: flex;
        gap: 3rem;
    }
</style>
