---
import { IconMoodSmile, IconFlame, IconMessage } from "@tabler/icons-react";
import NavLink from "./NavLink.astro";
import FrostBar from "./FrostBar.astro";

// import { IconFlame } from "@tabler/icons";
// import IconFlame2 from "@tabler/icons/IconFlame";
// import IconFlame from "@tabler/icons/icons/outline/flame.svg";
---

<header class="header row">
    <FrostBar>
        <hgroup class="logo caps-15">
            <h1>Timo Hausmann</h1>
            <span class="divider">//</span>
            <h2>Creative Coding</h2>
        </hgroup>
        <nav>
            <ul class="nav-list">
                <li>
                    <NavLink href="#about" text="Über mich">
                        <IconMoodSmile />
                    </NavLink>
                </li>
                <li>
                    <NavLink href="#showcase" text="Referenzen">
                        <IconFlame />
                    </NavLink>
                </li>
                <li>
                    <NavLink href="#contact" text="Kontakt">
                        <IconMessage />
                    </NavLink>
                </li>
            </ul>
        </nav>
    </FrostBar>
</header>

<style>
    .header {
        position: fixed;
        top: 2rem;
        left: 0;
        z-index: 100;
    }
    .logo {
        display: flex;
        align-items: baseline;
        gap: 1rem;
    }
    h1,
    h2,
    .divider {
        color: var(--color-purple);
        line-height: 1;
    }
    .divider {
        letter-spacing: 0;
    }

    .nav-list {
        display: flex;
        gap: 3rem;
    }
</style>
