---
import { IconMoodSmile, IconFlame, IconMessage } from "@tabler/icons-react";
import NavLink from "./NavLink.astro";
import FrostBar from "./FrostBar.astro";
import Logo from "./Logo.astro";
---

<header class="header row">
    <FrostBar>
        <Logo />
        <nav>
            <ul class="nav-list">
                <li>
                    <NavLink href="#about" text="Über mich">
                        <IconMoodSmile />
                    </NavLink>
                </li>
                <li>
                    <NavLink href="#showcase" text="Referenzen">
                        <IconFlame />
                    </NavLink>
                </li>
                <li>
                    <NavLink href="#contact" text="Kontakt">
                        <IconMessage />
                    </NavLink>
                </li>
            </ul>
        </nav>
    </FrostBar>
</header>

<style>
    .header {
        position: fixed;
        top: 2rem;
        left: 0;
        z-index: 100;
    }

    .nav-list {
        display: flex;
        gap: 3rem;
    }
</style>
