---
import {
    IconArrowsRightLeft,
    IconTelescope,
    IconMapPin,
    IconSend,
} from "@tabler/icons-react";
import HeroVisual2 from "./HeroVisual2.astro";
import ButtonLink from "./ButtonLink.astro";
import HeroLink from "./HeroLink.astro";
import timo from "../assets/timohausmann.png";
import { Image } from "astro:assets";
---

<h1 class="headline">
    <span class="marker">Unterwegs im <wbr />Spannungs&shy;feld</span>
    <span class="marker">
        Web-Entwicklung
        <IconArrowsRightLeft size={24} stroke={1.5} />
        <wbr />
        Interface-Design
    </span>
    <span class="marker">für ein besseres <wbr />Internet für alle.</span>
</h1>
<style>
    .headline {
        font-size: clamp(1rem, 4vw, 1.25rem);
        font-style: italic;
        line-height: 1.4;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;
        padding: 0 1rem;

        --delay: 0.2s;
        --duration: 1.5s;
    }
    @media (--md) {
        .headline {
            font-size: clamp(1rem, 4vw, 1.75rem);
        }
    }
    .marker {
        position: relative;
        padding: 0.125rem 1rem;
        text-align: center;
        z-index: 0;
        opacity: 0;
        animation: marker var(--duration) calc(var(--delay) * var(--index))
            forwards;
        animation-timing-function: var(--ease-out-back);
    }
    .marker:nth-child(1) {
        --index: 1;
    }
    .marker:nth-child(2) {
        --index: 2;
    }
    .marker:nth-child(3) {
        --index: 3;
    }
    .marker::after {
        content: "";
        position: absolute;
        inset: 0;
        background: var(--color-cyan);
        border-radius: 0.25rem;
        z-index: -1;
        transform-origin: center;
        animation: markerBg var(--duration) ease forwards;
        animation-delay: inherit;
        animation-timing-function: var(--ease-out-back);
    }
    .marker svg {
        width: clamp(1rem, 4vw, 1.25rem);
        height: auto;
        transform: translateY(17.5%) scale(0.9);
    }
    @media (--md) {
        .marker svg {
            width: clamp(1rem, 4vw, 1.75rem);
        }
    }
    @keyframes marker {
        0% {
            opacity: 0;
            transform: translateY(0%) rotate(-2deg) scale(0.8);
        }
        100% {
            opacity: 1;
            transform: translateY(0) rotate(0deg);
        }
    }
    @keyframes markerBg {
        0% {
            transform: scaleX(0.8);
        }
        100% {
            transform: scaleX(1);
        }
    }
</style>
