---
import { IconArrowsRightLeft } from "@tabler/icons-react";
---

<div class="wrap">
    <p class="headline">
        <span
            >Ich entwickle digitale Lösungen und Erlebnisse im
            Spannungs&shy;feld Web-Entwicklung</span
        >
        <IconArrowsRightLeft
            className="icon"
            size={16}
            stroke={1.5}
            aria-hidden="true"
            role="presentation"
        />
        <span>Interface-Design.</span>
    </p>
</div>
<style>
    .wrap {
        position: relative;
        z-index: 1;
        padding: 1rem 0;
        width: 100%;
        max-width: 550px;
        margin-left: -0.5rem;
    }
    .headline {
        display: inline;
        font-size: 14px;
        color: var(--color-blue);
        line-height: 1.4;
        background-color: var(--color-steel);
        padding: 0.125rem 0.5rem;
        border-radius: 0.25rem;
        box-decoration-break: clone;
    }
    .icon {
        transform: translateY(15%) scale(0.9);
    }
    @media (--md) {
        .wrap {
            margin-left: -0.75rem;
        }
        .headline {
            font-size: 15px;
            padding: 0.125rem 0.75rem;
        }
    }
</style>
