---
interface Props {
    label: string;
    href: string;
    blank?: boolean;
    class?: string;
}

const { label, href, blank = false, class: className } = Astro.props;
---

<a
    class={`button ${className || ''}`}
    href={href}
    target={blank ? "_blank" : "_self"}
>
    <slot name="iconBefore" />
    <span class="label">{label}</span>
    <slot name="iconAfter" />
</a>

<style>
    .button {
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: 1rem;
        padding: 1.25rem 1.5rem;
        padding-right: 2rem;
        text-decoration: none;
        line-height: 1;
        z-index: 1;
        color: var(--color-blue);
    }
    .button::after {
        content: "";
        position: absolute;
        inset: 0;
        background: var(--color-blue);
        border-radius: 10rem;
        z-index: -1;
        transition: all 0.2s ease;
        background: rgba(255, 255, 255, 0.95);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }
    .label {
        text-transform: none;
        font-style: italic;
        font-weight: normal;
        /* font-size: 1.125rem; */
        font-size: inherit;
        letter-spacing: 0;
    }

    .button:hover::after {
        background: white;
        transform: scaleX(1.025) scaleY(1.1);
    }
</style>
