---
import { IconArrowsRightLeft } from "@tabler/icons-react";
---

<h1 class="headline">
    <span class="marker">Ich entwickle digitale Lösungen und Erlebnisse</span>
    <span class="marker">
        im Spannungs&shy;feld Web-Entwicklung
        <IconArrowsRightLeft
            size={16}
            stroke={1.5}
            aria-hidden="true"
            role="presentation"
        />
        <wbr />
        Interface-Design.
    </span>
</h1>
<style>
    .headline {
        padding: 1rem 0;
        margin-left: -1rem;
        font-size: 16px;
        color: var(--color-blue);
        line-height: 1.4;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
        --delay: 0.3s;
        --duration: 1s;
    }
    .marker {
        position: relative;
        padding: 0.125rem 1rem;
        text-align: center;
        z-index: 0;
        opacity: 0;
        animation: marker var(--duration) calc(var(--delay) * var(--index))
            forwards;
        animation-timing-function: var(--ease-out-back);
    }
    .marker:nth-child(1) {
        --index: 1;
    }
    .marker:nth-child(2) {
        --index: 2;
    }
    .marker::after {
        content: "";
        position: absolute;
        inset: 0;
        background: var(--color-blue-5);
        border-radius: 0.25rem;
        z-index: -1;
        transform-origin: left center;
        animation: markerBg var(--duration) ease-out forwards;
        animation-delay: inherit;
    }
    .marker svg {
        transform: translateY(17.5%) scale(0.9);
    }
    @keyframes marker {
        0% {
            opacity: 0;
            transform: translateY(0%) rotate(-2deg) scale(0.66);
        }
        100% {
            opacity: 1;
            transform: translateY(0) rotate(0deg);
        }
    }
    @keyframes markerBg {
        0% {
            transform: scaleX(0.2);
        }
        100% {
            transform: scaleX(1);
        }
    }
</style>
