---
import {
    IconArrowsRightLeft,
    IconTelescope,
    IconMapPin,
    IconSend,
} from "@tabler/icons-react";
import HeroVisual2 from "./HeroVisual2.astro";
import ButtonLink from "./ButtonLink.astro";
import HeroLink from "./HeroLink.astro";
import timo from "../assets/timohausmann.png";
import { Image } from "astro:assets";
import HeroHeadline from "./HeroHeadline.astro";
import HeroNote from "./HeroNote.astro";
---

<section class="hero row">
    <div class="row-inner">
        <HeroVisual2 />
        <HeroHeadline />
        <HeroNote />
    </div>
</section>

<style>
    .hero {
        position: relative;
        background: linear-gradient(to bottom, #6361ff 0%, #3c3a99 100%);
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        min-height: 90dvh;
        padding: 8rem 0 4rem;
        z-index: 0;
        overflow: hidden;
    }
</style>
