---
import DecoderText from "./DecoderText.astro";
// Logo component that displays the site title and subtitle
---

<hgroup>
    <a class="logo caps-15" href="/">
        <h1><DecoderText text="Timo Hausmann" /></h1>
        <span class="divider">//</span>
        <h2><DecoderText text="Creative Coding" /></h2>
    </a>
</hgroup>

<style>
    .logo {
        display: flex;
        align-items: baseline;
        gap: 1rem;
    }
    h1,
    h2,
    .divider {
        /* color: rgba(0 0 0 / 80%); */
        color: var(--color-blue);
        line-height: 1;
    }
    .divider {
        letter-spacing: 0;
    }
</style>
