---
import DecoderText from "./DecoderText.astro";
---

<hgroup>
    <a class="logo frost-bg" href="/">
        <h1 class="caps" aria-label="Timo Hausmann">
            <DecoderText text="Timo Hausmann" />
        </h1>
        <span class="caps divider" aria-hidden="true" role="presentation"
            >//</span
        >
        <h2 class="caps" aria-label="Creative Coding">
            <DecoderText text="Creative Coding" />
        </h2>
    </a>
</hgroup>

<style>
    .logo {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 1rem;
        display: flex;
        align-items: center;
        height: 4rem;
        padding: 0.5rem var(--screen-padding);
        border-radius: 9999px;
        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.05);
    }
    h1,
    h2,
    .divider {
        color: var(--color-blue);
        line-height: 1;
        font-size: inherit;
    }
    .divider {
        letter-spacing: 0;
    }

    @media (--xs) {
        .divider {
            display: none;
        }
        .logo {
            font-size: 13px;
            flex-direction: column;
            gap: 0.25rem;
        }
        h1 {
            letter-spacing: 0.2em;
        }
    }
    @media (--sm) {
        .logo {
            font-size: 14px;
        }
    }
    @media (--lg) {
        .logo {
            font-size: 15px;
        }
    }
</style>
