---
import DecoderText from "./DecoderText.astro";
---

<hgroup class="wrap">
    <a class="logo frost-bg" href="/">
        <h1 class="caps" aria-label="Timo Hausmann">
            <DecoderText text="Timo Hausmann" />
        </h1>
        <span class="caps divider" aria-hidden="true" role="presentation"
            >//</span
        >
        <h2 class="caps" aria-label="Creative Coding">
            <DecoderText text="Creative Coding" />
        </h2>
    </a>
</hgroup>
<style>
    .wrap {
        flex: 1;
        display: flex;
        justify-content: flex-start;
    }
    .logo {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        gap: 0.5rem;
        align-items: center;
        padding: 1.25rem 3rem;
        border-radius: 9999px;
        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.05);
        font-size: 14px;
    }
    h1,
    h2,
    .divider {
        color: var(--color-blue);
        line-height: 1;
        font-size: inherit;
    }
    h1 {
        letter-spacing: 0.19em;
    }
    .divider {
        display: none;
        letter-spacing: 0;
    }

    @media (--sm) {
        .divider {
            display: block;
        }
        .logo {
            height: 4rem;
            flex-direction: row;
            gap: 1rem;
            padding: 1rem 2rem; /* x should be screen-padding at xl */
        }
        h1 {
            letter-spacing: 0.075em;
        }
    }
    @media (--md) {
        .logo {
            font-size: 15px;
        }
    }
</style>
