---

interface Props {
    href: string;
    text: string;
}

const { href, text }: Props = Astro.props;
---

<a class="link" href={href}>
    <div class="icon">
        <slot />
    </div>
    <div class="text-container">
        <span class="text">{text}</span>
    </div>
</a>
<style>
    .link {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        text-decoration: none;
        color: var(--color-purple);
    }
    .icon {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 0.5rem;
        background-color: var(--color-blue-5);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text-container {
        display: flex;
        flex-direction: column;
    }
    .text {
        font-size: 14px;
    }
</style>
