---
import type { Project } from "../types/projects";
import { IconExternalLink } from "@tabler/icons-react";
import ButtonLink from "./ButtonLink.astro";

interface Props {
    project: Project;
}

const { project } = Astro.props;
---

<div class="content">
    <p class="description">{project.description}</p>
    <ul class="dl">
        <li>
            <strong>Meine Rollen:</strong>
            <ul class="tags">
                {
                    project.roles.map((role: string) => (
                        <li class="tag">{role}</li>
                    ))
                }
            </ul>
        </li>
        <li>
            <strong>Technologien:</strong>
            <ul class="tags">
                {
                    (project.technologies || project.tech).map(
                        (technology: string) => (
                            <li class="tag">{technology}</li>
                        )
                    )
                }
            </ul>
        </li>
    </ul>
    {
        project.href && (
            <div class="href-mobile">
                <ButtonLink
                    href={project.href}
                    label="Besuchen"
                    blank
                    class="caps-14"
                >
                    <IconExternalLink size={20} stroke={1.5} slot="iconAfter" />
                </ButtonLink>
            </div>
        )
    }
</div>
<style>
    .content,
    .dl {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .content {
        align-items: flex-start;
    }
    .description {
        font-size: 14px;
    }
    .content :global(.button) {
        color: var(--color-blue);
    }
    .content :global(.label) {
        font-weight: 400;
    }
    .content :global(.button::after) {
        background: rgba(255, 255, 255, 0.8);
    }
    .button .caps-14 {
        font-weight: 500;
    }
    .dl strong {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 14px;
        font-weight: 500;
        color: var(--color-blue);
    }
    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;
    }
    .tag {
        background-color: var(--color-blue-5);
        font-size: 13px;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
    }
    @media (--projects-large) {
        .href-mobile { 
            display: none;
        }
    }
</style>
