---
import type { Project } from "../types/projects";
import ProjectTile from "./ProjectTile.astro";
import ProjectsRotate from "./ProjectsRotate.astro";
import showcase from "../data/showcase.json";

// Type assertion for showcase data
const projects = showcase as Project[];
---

<ProjectsRotate>
    <section class="projects row" id="referenzen">
        <h1 class="title">Referenzen</h1>
        <ul class="list row-inner">
            {projects.map((project) => <ProjectTile project={project} />)}
        </ul>
    </section>
</ProjectsRotate>

<style>
    .title {
        font-family: "Delight";
        font-size: clamp(1.75rem, 4vw, 3rem);
        font-weight: 800;
        text-align: center;
        margin-bottom: 2em;
        color: #3e3b9c;
    }

    .projects {
        position: relative;
        z-index: 2;
        --limit: 320px;
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .button-container {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
    }

    @media (--projects-large) {
        .list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 0;
            column-gap: 6rem;
            align-items: center;
            justify-content: center;
        }
    }
</style>
