---
import stock_basel from "../assets/stock_basel.png";
import stock_brom from "../assets/stock_brom.png";
import stock_cori from "../assets/stock_cori.png";
import stock_leon from "../assets/stock_leon.png";
import ProjectTile from "./ProjectTile.astro";
import ProjectsRotate from "./ProjectsRotate.astro";
---

<ProjectsRotate>
    <a href="#" name="referenzen"></a>
    <section class="projects row">
        <h1 class="title">Referenzen</h1>
        <ul class="list row-inner">
            <ProjectTile
                img={stock_basel}
                alt="Kunstmuseum Basel Audioguide"
                href="/project/1"
                title="Audioguide Web-App"
                suptitle="Kunstmuseum Basel"
            />
            <ProjectTile
                img={stock_leon}
                alt="Leonkoro Quartet Website"
                href="/project/4"
                title="Ensemble Website"
                suptitle="Leonkoro Quartet"
            />
            <ProjectTile
                img={stock_brom}
                alt="Bromacker Website"
                href="/project/2"
                title="Bromacker: grabungsstelle 3D"
                suptitle="Museum für Naturkunde Berlin"
            />
            <ProjectTile
                img={stock_cori}
                alt="Coriolis Character Sheets Website"
                href="/project/3"
                title="Character Sheets"
                suptitle="Open Source"
            />
        </ul>
    </section>
</ProjectsRotate>

<style>
    .title {
        font-family: "Delight";
        font-size: 3rem;
        font-weight: 800;
        text-align: center;
        margin-bottom: 4rem;
        text-align: center;
        /* color: #6361fe; */
        color: #3e3b9c;
    }

    .projects {
        position: relative;
        z-index: 2;
    }

    .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 0;
        column-gap: 6rem;
        align-items: center;
        justify-content: center;
    }

    .item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
    }

    .card {
        padding: 1rem;
        background-color: white;
        border-radius: 1.5rem;
        box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
    }
    .tall {
        width: 320px;
        height: auto;
    }
    .wide {
        width: auto;
        height: 320px;
    }
</style>
