---
import type { Project } from "../types/projects";
import ProjectTile from "./ProjectTile.astro";
import ProjectsRotate from "./ProjectsRotate.astro";
import showcase from "../data/showcase.json";

// Type assertion for showcase data
const projects = showcase as Project[];
---

<ProjectsRotate>
    <a href="#" name="referenzen"></a>
    <section class="projects row">
        <h1 class="title">Referenzen</h1>
        <ul class="list row-inner">
            {
                projects.map((project) => <ProjectTile project={project} />)
            }
        </ul>
    </section>
</ProjectsRotate>

<style>
    .title {
        font-family: "Delight";
        font-size: 3rem;
        font-weight: 800;
        text-align: center;
        margin-bottom: 4rem;
        text-align: center;
        /* color: #6361fe; */
        color: #3e3b9c;
    }

    .projects {
        position: relative;
        z-index: 2;
    }

    .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 0;
        column-gap: 6rem;
        align-items: center;
        justify-content: center;
    }

    .item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
    }

    .card {
        padding: 1rem;
        background-color: white;
        border-radius: 1.5rem;
        box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
    }
    .tall {
        width: 320px;
        height: auto;
    }
    .wide {
        width: auto;
        height: 320px;
    }
</style>
