---
import type { Project } from "../types/projects";
import { IconExternalLink } from "@tabler/icons-react";

interface Props {
    project: Project;
}

const { project } = Astro.props;
---

<div class="content">
    <p class="description">{project.description}</p>
    {
        project.href && (
            <a class="button" href={project.href} target="_blank">
                <span class="caps-14">Besuchen</span>
                <IconExternalLink size={20} stroke={1.5} />
            </a>
        )
    }
    <ul class="dl">
        <li>
            <strong>Meine Rollen:</strong>
            <ul class="tags">
                {
                    project.roles.map((role: string) => (
                        <li class="tag">{role}</li>
                    ))
                }
            </ul>
        </li>
        <li>
            <strong>Technologien:</strong>
            <ul class="tags">
                {
                    (project.technologies || project.tech).map(
                        (technology: string) => (
                            <li class="tag">{technology}</li>
                        )
                    )
                }
            </ul>
        </li>
    </ul>
</div>
<style>
    .content,
    .dl {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .content {
        align-items: flex-start;
    }
    .description {
        font-size: 14px;
        /* max-width: 66%; */
    }
    .button {
        background: var(--color-blue);
        color: white;
        display: inline-flex;
        align-items: center;
        gap: 1rem;
        padding: 0.75rem 1.25rem 0.75rem 1.5rem;
        border-radius: 0.25rem;
        text-decoration: none;
        line-height: 1;
    }
    .button .caps-14 {
        font-weight: 500;
    }
    .dl strong {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 14px;
        font-weight: 500;
        color: var(--color-blue);
    }
    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;
    }
    .tag {
        background-color: var(--color-blue-5);
        font-size: 13px;
        padding: 0.25rem 0.75rem;
        border-radius: 0.25rem;
    }
</style>
