---
import type { Project } from "../types/projects";
import ProjectTile from "./ProjectTile.astro";
import ProjectsRotate from "./ProjectsRotate.astro";
import showcase from "../data/showcase.json";
import { IconMail } from "@tabler/icons-react";
import ButtonLink from "./ButtonLink.astro";

// Type assertion for showcase data
const projects = showcase as Project[];
---

<ProjectsRotate>
    <a href="#" name="referenzen"></a>
    <section class="projects row">
        <h1 class="title">Referenzen</h1>
        <ul class="list row-inner">
            {projects.map((project) => <ProjectTile project={project} />)}
        </ul>
        <!-- <div class="button-container">
            <ButtonLink href="mailto:hello.timohausmann@gmail.com" label="Kontakt" blank>
                <IconMail size={20} stroke={1.5} slot="iconBefore" />
            </ButtonLink>
        </div> -->
    </section>
</ProjectsRotate>

<style>
    .title {
        font-family: "Delight";
        font-size: 3rem;
        font-weight: 800;
        text-align: center;
        margin-bottom: 4rem;
        text-align: center;
        /* color: #6361fe; */
        color: #3e3b9c;
    }

    .projects {
        position: relative;
        z-index: 2;
    }

    .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 0;
        column-gap: 6rem;
        align-items: center;
        justify-content: center;
    }

    .button-container {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
    }
</style>
