---
interface Props {
    tags: string[];
    size?: "normal" | "sm" | "xs";
}

const { tags, size }: Props = Astro.props;
---

<ul class={`tags ${size}`}>
    {tags.map((technology: string) => <li class="tag">{technology}</li>)}
</ul>

<style>
    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;
    }
    .tag {
        display: block;
        background-color: var(--color-blue-5);
        font-size: 13px;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        backdrop-filter: blur(16px);  
    }
    .sm .tag {
        padding: 0.375rem 0.75rem;
    }
    .xs .tag {
        font-size: 11px;
        padding: 0.375rem 0.75rem;
    }
</style>
