@import "./reset.css";
@import "./variables.css";
@import "./font-ibm-plex-mono.css";
@import "./font-delight.css";
@import "./typo.css";

/* Global styles */
html {
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
    color: black;
    font-family: "IBM Plex Mono", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
}

.row {
    width: 100%;
    padding-left: var(--screen-gutter);
    padding-right: var(--screen-gutter);
}

.row-inner {
    width: 100%;
    max-width: var(--screen-max);
    padding-left: var(--screen-padding);
    padding-right: var(--screen-padding);
    margin-left: auto;
    margin-right: auto;
}

.page {
    padding-top: 9rem;
    min-height: calc(100dvh - 218px);
    background: #f9f9f9
        linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.11));
}

.page::after {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background: black url(/anima_blue.gif);
}

.frost-bg {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

::view-transition-group(*),
::view-transition-old(*),
::view-transition-new(*) {
    animation-duration: 0.4s;
}
